@keyframes hologramGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background: linear-gradient(270deg, #a16eff, #d8b3ff, #a16eff, #d8b3ff);
  background-size: 400% 400%;
  animation: hologramGradient 8s ease infinite;
  color: #000;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(161, 110, 255, 0.7);
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.button:hover,
.button:active {
  box-shadow: 0 0 15px rgba(161, 110, 255, 1);
  color: #fff;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #000;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  color: #fff;
}

.button:hover .badge,
.button:active .badge {
  background-color: #a16eff;
}

  